.text-decoration--none {
  text-decoration: none !important;
}

.cursor--pointer {
  cursor: pointer;
}

.min-height--100vh {
  min-height: 100vh;
}

.fs-16 {
  font-size: 16px;
}

.color--gray {
  color: #B3B3B3 !important;
}
