@import "../src/stylesheet/overwrite";
@import "../src/stylesheet/variable";
@import "../src/stylesheet/utilities";

* {
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

html {
    height: 100%;
    overflow: hidden;
    position: relative;
}

body {
    height: 100%;
    overflow: auto;
    position: relative;
    overscroll-behavior: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

